<div class='well'>
  <h1>Novo animal</h1>

  <%= render 'form' %>
</div>
<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="modal-content"></div>
  </div>
</div>
