<p id="notice">
	<%= notice %>
</p>
<div class='panel panel-default'>
	<h2 class='left'>Tipo Vacina</h2>
	<div class="dados-animal">

		<p>
			<strong>Descricao:</strong>
			<%= @tipo_vacina.descricao %>
		</p>

		<%= link_to 'Editar', edit_tipo_vacina_path(@tipo_vacina) %> |
		<%= link_to 'Voltar', tipo_vacinas_path %>
	</div>
</div>
