<p id="notice">
	<%= notice %>
</p>

<div class='panel panel-default'>
	<h2 class='left'>Classificação</h2>
	<div class="dados-animal">

		<p>
			<strong>Descricao:</strong>
			<%= @classificacao.descricao %>
		</p>

		<%= link_to 'Editar', edit_classificacao_path(@classificacao) %> |
		<%= link_to 'Voltar', classificacoes_path %>
	</div>
</div>
