<div class="row">
  <div class="col-md-3">
    <h3>Feed de notícias</h3>
    <div class='feed-noticias'>
      <%= render partial: "layouts/feed" %>
    </div>
  </div>
  <div class="col-md-6">
  </div>
  <div class="col-md-3">
    <h3>Meteorologia</h3>
    <div class='previsao-tempo'>
    </div>
  </div>
</div>
