<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @tipo_exame.descricao %>
</p>

<%= link_to 'Edit', edit_tipo_exame_path(@tipo_exame) %> |
<%= link_to 'Back', tipo_exames_path %>
