<p id="notice">
	<%= notice %>
</p>

<div class='panel panel-default'>
	<h2 class='left'>Alimento</h2>
	<div class="dados-animal">

		<p>
			<strong>Descricao:</strong>
			<%= @alimento.descricao %>
		</p>

		<%= link_to 'Editar', edit_alimento_path(@alimento) %> |
		<%= link_to 'Voltar', alimentos_path %>
	</div>
</div>
