$color1: #7db9e8;
$bg-color: #DBDBDB;
$bg-container-color: #EDEDED;
$container-border: #929292;
$footer-background-color: #F8F8F8;
$header-height: 50px;
html, body {
  width: 100%;
  height: 100%;
}
body{
  background-color: $bg-color !important;
}
.navbar-brand, li{
  color: black !important;
}
.header-text{
  color: black !important;
  &:hover{
    opacity: 0.7;
  }
}
.logo{
  &:hover{opacity: 0.7;}
}
header {
  width: 100%;
}
