<div class='footer-container'>
  <span>
    Desenvolvido por
    <%= link_to "Anderson Vasconcelos", "https://github.com/and3rs0n" %>
    e
    <%= link_to "Jose Luiz Tafarel", "https://github.com/jltafarel" %>
  </span>
</div>
