<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title>Polaris</title>
</head>
<body>
  <h1>Polaris web</h1>
  <span>Propriedade </span>
  <%= current_usuario.propriedade.nome %>
  </br>
  <span>Data: </span>
  <%= Date.today %>
<main>
  <%= yield %>
</main>
</body>
</html>




